<!DOCTYPE html>
<html>
<head>
<title>HHelper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/sockjs-0.3.4.js"></script>
<script src="js/stomp.js"></script>

<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-route.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-animate.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-aria.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-messages.js"></script>

<script type="text/javascript" src="/webjars/angular-material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>

<link rel="stylesheet" href="/webjars/angular-material/1.1.0/angular-material.css">
<link rel="stylesheet" href="/webjars/angular-material/1.1.0/layouts/angular-material.layouts.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="hh_app">
	<div ng-controller="hh_controller" ng-cloak>
		<md-tabs md-dynamic-height="" md-border-bottom="">
	      <md-tab label="Draft Helper">
	        <md-content class="md-padding">
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
				<md-button class="md-raised" ng-click="connect()">connect</md-button>
				<md-button class="md-raised" ng-click="disconnect()">disconnect</md-button>
				<md-button class="md-raised" ng-click="test()">test</md-button>
			</section>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in enemies"> 
						<md-card-content> 
							<form layout layout-align="center" layout-padding>
							    <div layout="row" flex>
							        <md-input-container class="md-block">
							          <input ng-model="e.name" aria-label="Name">
							        </md-input-container>
							        <div>
							            <md-button class="md-raised" ng-click="update($index, 0)">update</md-button>
							        </div>
							    </div>  
							</form>
							
							<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<p>Id: <a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a></p>
								<p>MMR: {{e.mmr}}</p>
								<p>Games: <a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></p>
								<p>Hits: <a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a></p>
							</div>
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<table>
									<tr>
										<td>Hero</td>
										<td>Lvl</td>
										<td>play%</td>
										<td>win%</td>
										<td>#</td>
									</tr>
									<tr ng-repeat="s in e.statistics">
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.substr(0, s.percentage.indexOf('.'))}}%</td>
										<td>{{s.winrate.substr(0, s.winrate.indexOf('.'))}}%</td>
										<td>{{s.number}}</td>
									</tr>
								<table>
							</div>
							</md-list-item> 
							<div class="md-list-item-text">
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in allies"> 
						<md-card-content> 
							<md-input-container class="md-block">
					          <input ng-model="e.name" aria-label="Name">
					          <md-button class="md-raised" ng-click="update($index, 1)">update</md-button>
					        </md-input-container>
							<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<p>Id: <a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a></p>
								<p>MMR: {{e.mmr}}</p>
								<p>Games: <a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></p>
								<p>Hits: <a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a></p>
							</div>
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="md-2-line">
							<div class="md-list-item-text">
								<table>
									<tr>
										<td>Hero</td>
										<td>Lvl</td>
										<td>play%</td>
										<td>win%</td>
										<td>#</td>
									</tr>
									<tr ng-repeat="s in e.statistics">
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.substr(0, s.percentage.indexOf('.'))}}%</td>
										<td>{{s.winrate.substr(0, s.winrate.indexOf('.'))}}%</td>
										<td>{{s.number}}</td>
									</tr>
								<table>
							</div>
							</md-list-item> 
							<div class="md-list-item-text">
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
		</md-content>
		</md-tab>
		<md-tab label="Settings">
		  <md-content layout-padding="">
		      <form name="settings">
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm="">
		            <label>Hots Profile</label>
		            <input ng-model="settings.ownProfilw">
		          </md-input-container>
        		  <md-input-container class="md-block" flex-gt-sm="">
		            <label>First name</label>
		            <input ng-model="user.firstName">
		          </md-input-container>
		        </div>
		      </form>
		  </md-content>
		</md-tab>
	</div>
</body>
</html>