<!DOCTYPE html>
<html>
<head>
<title>HHelper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/sockjs-0.3.4.js"></script>
<script src="js/stomp.js"></script>

<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-route.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-animate.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-aria.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-messages.js"></script>

<script type="text/javascript" src="/webjars/angular-material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/webjars/angular-material/1.1.0/angular-material.css">
<link rel="stylesheet" href="/webjars/angular-material/1.1.0/layouts/angular-material.layouts.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="hh_app">
	<div ng-controller="hh_controller" ng-cloak>
	        <md-content class="md-padding">
	        <md-toolbar class="md-primary">
		      <div class="md-toolbar-tools">
		       <md-button class="md-icon-button" aria-label="menu"><md-icon>menu</md-icon></md-button>
		        <h3>
		          <span>Hotshelper</span>
		        </h3>
		        <span flex></span>
		        <!--  see https://design.google.com/icons/ -->
		        <md-button class="md-icon-button" title="connect to server" aria-label="connect" ng-click="connect()"><md-icon>autorenew</md-icon></md-button>
		        <md-button class="md-icon-button" title="disconnect from server" aria-label="disconnect" ng-click="disconnect()"><md-icon>sync_disabled</md-icon></md-button>
		        <md-button class="md-icon-button" title="populate with test data" aria-label="test" ng-click="test()"><md-icon>check</md-icon></md-button>
		        <md-button class="md-icon-button" title="update map data from hotslogs" aria-label="update from hots" ng-click="updateFromHots()"><md-icon>cloud_download</md-icon></md-button>
		      </div>
		    </md-toolbar>
		    <div layout="row">
		    <div flex>
			<section layout="row" layout-sm="column" layout-align="left left">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in enemies"> 
						<md-card-content> 
							<div layout="column">
							<div flex>
								<md-input-container class="md-block hide-error-msg">
								<div layout="row">
								  <div flex><input ng-model="e.name" aria-label="Name"></div>
								  <div flex><md-button class="md-icon-button md-primary" alt="reload" aria-label="reload" ng-click="update($index, 0)"><md-icon>refresh</md-icon></md-button></div>
								</div>
						        </md-input-container>
							</div>	
							<div flex>
								<table align="left">
									<tr>
										<td class="md-caption">Id</td>
										<td colspan="3" style="background-color: rgb({{getColor(e.hits, 1, 3, false)}}"><a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a> (<a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a> hits)</td>
									</tr>
									<tr>
										<td class="md-caption">MMR</td>
										<td>{{e.mmr}}</td>
										<td class="md-caption">Winrate</td>
										<td style="background-color: rgb({{getColor(e.winrate, 45, 55, false)}}">{{e.winrate}}%</td>
									</tr>
									<tr>
										<td class="md-caption">Games</td>
										<td><a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></td>
										<td>Hero</td>
										<td>{{enemyHeroes[$index]}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr>
										<th>Hero</th>
										<th>L</th>
										<th>play</th>
										<th>win</th>
										<th>#</th>
										<th>!</th>
									</tr>
									<tr ng-repeat="s in e.statistics" style="background-color: rgb({{getColor(s.threat, 1, 40, false)}}">
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.toFixed(0)}}%</td>
										<td>{{s.winrate.toFixed(0)}}%</td>
										<td>{{s.number}}</td>
										<td>{{s.threat}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
			<section layout="row" layout-sm="column" layout-align="left left" layout-wrap="">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in allies"> 
						<md-card-content> 
							<div layout="column">
							<div flex>
								<md-input-container class="md-block hide-error-msg">
								<div layout="row">
								  <div flex><input ng-model="e.name" aria-label="Name"></div>
								  <div flex><md-button class="md-icon-button md-primary" aria-label="reload" ng-click="update($index, 1)"><md-icon>refresh</md-icon></md-button></div>
								</div>
						        </md-input-container>
							</div>	
							<div flex>
								<table align="left">
									<tr>
										<td class="md-caption">Id</td>
										<td colspan="3" style="background-color: rgb({{getColor(e.hits, 1, 3, false)}}"><a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a> (Hits: <a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a>)</td>
									</tr>
									<tr>
										<td class="md-caption">MMR</td>
										<td>{{e.mmr}}</td>
										<td class="md-caption">Winrate</td>
										<td style="background-color: rgb({{getColor(e.winrate, 45, 55, true)}}">{{e.winrate}}%</td>
									</tr>
									<tr>
										<td class="md-caption">Games</td>
										<td><a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></td>
										<td>Hero</td>
										<td>{{allyHeroes[$index]}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr>
										<th>Hero</th>
										<th>L</th>
										<th>play</th>
										<th>win</th>
										<th>#</th>
										<th>!</th>
									</tr>
									<tr ng-repeat="s in e.statistics"  style="background-color: rgb({{getColor(s.threat, 1, 40, true)}}")>
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.toFixed(0)}}%</td>
										<td>{{s.winrate.toFixed(0)}}%</td>
										<td>{{s.number}}</td>
										<td>{{s.threat}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
			</div>
			<div>
			<md-card> 
			<md-card-content>
				<table>
					<tr>
						<th colspan="5">{{map}} win percentages</th>
					</tr>
					<tr>
						<th>Hero</th>
						<th>Play</th>
						<th>Ban</th>
						<th>Pop</th>
						<th>%</th>
					</tr>
					<tr ng-repeat="s in heroMapStats | orderBy:'-winPercentage'">
						<td>{{s.hero}}</td>
						<td>{{s.gamesPlayed}}</td>
						<td>{{s.gamesBanned}}</td>
						<td>{{s.popularity}}</td>
						<td>{{s.winPercentage}}</td>
					</tr>
				</table>
			</md-card-content> 
			</md-card>
			</div>
			<div>
			<md-card> 
			<md-card-content>
				<table>
					<tr>
						<th colspan="2">As ally</th>
					</tr>
					<tr>
						<th>Hero</th>
						<th>%</th>
					</tr>
					<tr ng-repeat="s in allyHeroWinStats | orderBy:'-winPercentage'">
						<td>{{s.hero}}</td>
						<td>{{s.winPercentage}}</td>
					</tr>
				</table>
			</md-card-content> 
			</md-card>
			</div>
			<div>
			<md-card> 
			<md-card-content>
				<table>
					<tr>
						<th colspan="2">As enemy</th>
					</tr>
					<tr>
						<th>Hero</th>
						<th>%</th>
					</tr>
					<tr ng-repeat="s in enemyHeroWinStats | orderBy:'winPercentage'">
						<td>{{s.hero}}</td>
						<td>{{s.winPercentage}}</td>
					</tr>
				</table>
			</md-card-content> 
			</md-card>
			</div>
			</div>
		</md-content>
	<div ng-init="connect()"></div>
	</div>
</body>
</html>