<!DOCTYPE html>
<html>
<head>
<title>HHelper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/sockjs-0.3.4.js"></script>
<script src="js/stomp.js"></script>

<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-route.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-animate.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-aria.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.7/angular-messages.js"></script>

<script type="text/javascript" src="/webjars/angular-material/1.1.0/angular-material.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/webjars/angular-material/1.1.0/angular-material.css">
<link rel="stylesheet" href="/webjars/angular-material/1.1.0/layouts/angular-material.layouts.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="hh_app">
	<div ng-controller="hh_controller" ng-cloak>
	        <md-content class="md-padding">
	        <md-toolbar class="md-primary">
		      <div class="md-toolbar-tools">
		       <md-button class="md-icon-button" aria-label="menu"><md-icon>menu</md-icon></md-button>
		        <h3>
		          <span>Hotshelper</span>
		        </h3>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="connect" ng-click="connect()"><md-icon>refresh</md-icon></md-button>
		        <md-button class="md-icon-button" aria-label="disconnect" ng-click="disconnect()"><md-icon>sync_disabled</md-icon></md-button>
		        <md-button class="md-icon-button" aria-label="test" ng-click="test()"><md-icon>check</md-icon></md-button>
		      </div>
		    </md-toolbar>
		    <div layout="row">
		    <div flex>
			<section layout="row" layout-sm="column" layout-align="left left" layout-wrap="">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in enemies"> 
						<md-card-content> 
							<div layout="column">
							<div flex>
								<md-input-container class="md-block hide-error-msg">
								<div layout="row">
								  <div flex><input ng-model="e.name" aria-label="Name"></div>
								  <div flex><md-button class="md-icon-button md-primary" aria-label="reload" ng-click="update($index, 0)"><md-icon>refresh</md-icon></md-button></div>
								</div>
						        </md-input-container>
							</div>	
							<div flex>
								<table align="left">
									<tr>
										<td>Id</td>
										<td><a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a></td>
									</tr>
									<tr>
										<td>MMR</td>
										<td>{{e.mmr}}</td>
									</tr>
									<tr>
										<td>Games</td>
										<td><a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></td>
									</tr>
									<tr>
										<td>Hits</td>
										<td><a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a></td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr>
										<th>Hero</th>
										<th>Lvl</th>
										<th>play%</th>
										<th>win%</th>
										<th>#</th>
									</tr>
									<tr ng-repeat="s in e.statistics">
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.substr(0, s.percentage.indexOf('.'))}}%</td>
										<td>{{s.winrate.substr(0, s.winrate.indexOf('.'))}}%</td>
										<td>{{s.number}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
			<section layout="row" layout-sm="column" layout-align="left left" layout-wrap="">
				<div layout="column" layout-gt-xs="row">
					<md-card flex ng-repeat="e in allies"> 
						<md-card-content> 
							<div layout="column">
							<div flex>
								<md-input-container class="md-block hide-error-msg">
								<div layout="row">
								  <div flex><input ng-model="e.name" aria-label="Name"></div>
								  <div flex><md-button class="md-icon-button md-primary" aria-label="reload" ng-click="update($index, 1)"><md-icon>refresh</md-icon></md-button></div>
								</div>
						        </md-input-container>
							</div>	
							<div flex>
								<table align="left">
									<tr>
										<td>Id</td>
										<td><a href="http://www.hotslogs.com//Player/Profile?PlayerID={{e.id}}">{{e.id}}</a></td>
									</tr>
									<tr>
										<td>MMR</td>
										<td>{{e.mmr}}</td>
									</tr>
									<tr>
										<td>Games</td>
										<td><a href="http://www.hotslogs.com/Player/MatchHistory?PlayerID={{e.id}}">{{e.numberOfGames}}</a></td>
									</tr>
									<tr>
										<td>Hits</td>
										<td><a href="http://www.hotslogs.com/PlayerSearch?Name={{e.name}}">{{e.hits}}</a></td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr>
										<th>Hero</th>
										<th>Lvl</th>
										<th>play%</th>
										<th>win%</th>
										<th>#</th>
									</tr>
									<tr ng-repeat="s in e.statistics">
										<td>{{s.hero}}</td>
										<td>{{s.lvl}}</td>
										<td>{{s.percentage.substr(0, s.percentage.indexOf('.'))}}%</td>
										<td>{{s.winrate.substr(0, s.winrate.indexOf('.'))}}%</td>
										<td>{{s.number}}</td>
									</tr>
								</table>
							</div>
							<md-divider></md-divider>
							<div flex>
								<table>
									<tr ng-repeat="n in e.matches | limitTo:15" ng-class='{historywin : n.win, historylose: !n.win}'>
										<td>{{n.date.substr(0, n.date.indexOf('/201'))}}</td>
										<td>{{n.hero}}</td>
										<td>{{n.lvl}}</td>
									</tr>
								</table>
							</div>
						</md-card-content> 
					</md-card>
				</div>
			</section>
			</div>
			<div flex>
			<md-card> 
			<md-card-content>
				<table>
					<tr>
						<th>Hero</th>
						<th>Played</th>
						<th>Banned</th>
						<th>Pop</th>
						<th>Percentage</th>
					</tr>
					<tr ng-repeat="s in heroMapStats | orderBy:'-winPercentage'">
						<td>{{s.hero}}</td>
						<td>{{s.gamesPlayed}}</td>
						<td>{{s.gamesBanned}}</td>
						<td>{{s.popularity}}</td>
						<td>{{s.winPercentage}}</td>
					</tr>
				</table>
			</md-card-content> 
			</md-card>
			</div>
			</div>
		</md-content>
	</div>
</body>
</html>