.historywin {
	color: green;
}

.historylose {
	color: red;
}

md-card md-card-content {
	padding: 4px;
}

md-input-container {
	margin: 4px 0;
}

html, button {
	font-size: small;
}

.md-button {
	font-size: inherit;
}

md-input-container.hide-error-msg .md-errors-spacer:empty {
	display: none;
}

.largeSerif {
	font-size: large;
    font-family: serif;
}

.greyCard {
	background-color: grey;
}